.index_swiper swiper {
  width: 750rpx;
  height: 340rpx;
  border-radius: 200rpx 0;
}
.index_swiper swiper image {
  width: 100%;
  border-radius: 200rpx 0;
}
.title {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1D1D38;
  height: 100rpx;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.subtitle {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #1D1D38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_cita swiper {
  display: flex;
}
.index_cita swiper navigator {
  height: 93px;
  width: 160px;
}
.index_cita swiper navigator image {
  height: 93px;
  width: 280rpx;
  margin: 0 20rpx;
  left: 0rpx;
  top: 0rpx;
}
.content {
  display: flex;
  position: absolute;
}
.content .t1 {
  display: flex;
  position: absolute;
}
.h3 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 600;
  font-size: 18.476px;
  line-height: 26px;
  color: #1D1D38;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.h3 .festival {
  position: absolute;
  width: 294.68px;
  height: 241.94px;
  left: 119.04px;
  top: 570px;
}
.h4 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1D1D38;
  height: 100rpx;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.h5 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #1D1D38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h6 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1D1D38;
  height: 100rpx;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.h7 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #1D1D38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h8 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1D1D38;
  height: 100rpx;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.h9 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #1D1D38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h10 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1D1D38;
  height: 100rpx;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.h11 {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #1D1D38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h11 .AppStore {
  position: absolute;
  left: 13.33%;
  right: 12.95%;
  top: 21.09%;
  bottom: 16.27%;
}
